RewriteEngine On

#sobre escribir URL numericas

RewriteRule ^home/?$ index.php
RewriteRule ^noticias/?$ index.php
RewriteRule ^noticia/?$ index.php
RewriteRule ^categorias/?$ index.php
RewriteRule ^registro/?$ index.php
RewriteRule ^recuperar-pass/?$ index.php
RewriteRule ^logout/?$ index.php
RewriteRule ^perfil/?$ index.php

RewriteRule ^admin/?$ index.php
RewriteRule ^admin-dashboard/?$ index.php
RewriteRule ^admin-noticia/?$ index.php
RewriteRule ^admin-categoria/?$ index.php
RewriteRule ^admin-categoria-carga/?$ index.php
RewriteRule ^admin-noticia-carga/?$ index.php
RewriteRule ^admin-usuario/?$ index.php

RewriteRule ^noticia/([^/]+) /views/front/noticia.php?id=$1 [L]
RewriteRule ^editarNoticia/([^/]+) /views/back/editarNoticia.php?id=$1 [L]
RewriteRule ^editarCategoria/([^/]+) /views/back/editarCategoria.php?id=$1 [L]
RewriteRule ^eliminarCategoria/([^/]+) /views/back/eliminarCategoria.php?id=$1 [L]
RewriteRule ^eliminarNoticia/([^/]+) /views/back/eliminarNoticia.php?id=$1 [L]