// ==========================================================================
/* CATEGORIA -*/
// ==========================================================================
.bloque-categoria
	float left
	
	.bloque-novedades
		
		.bloque-a
			padding-right 10px
			border none
			
	.listado-noticias
		
		.noticia
			.bloque-a
				img
					width 100%
			.bloque-b
				padding-left 10px
					
			.data 
				margin 5px 0
				.info 
					width 100% !important
					.item
						float left
						    margin-left 0px
						    margin-right 15px
			.body 
				p
					margin 0px





// ==========================================================================
/* RESPONSIVE - DEFAULT */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){
	.bloque-categoria .listado-noticias .noticia .bloque-b {
	    padding-left: 0;
	    padding-top: 10px;
	}
	
	.bloque {
	    margin-bottom: 0px;
	}
}

/**  MOBILE DISPOSITIVO **/
@media device and (min-width: 0px) and (max-width : 767px){

}

/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){

}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 900px){

}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){

}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
