// ==========================================================================
/******** CONTACTO ********/
// ==========================================================================

.contacto
	.titulo
		width 100%
		
		.email
			font-size 12px
			margin 10px 0 0px 25px
			color gris3
		
			.glyphicon
				font-size 12px
				margin-right 10px
	
	.form
		margin-top 10px
		width 90%
		margin-bottom 30px
		
		.enviar
			color #fff
			background-color gris8
			width 130px
			border none
			border-radius 1px
			padding 3px

	.texto
		margin 15px 0 30px 0
	

	
	
			

// ==========================================================================
/* RESPONSIVE - CONTACTO */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){
	.contacto .form{
		width: 100% !imprtant;
	}
		
}

/**  MOBILE DISPOSITIVO **/
@media device and (min-width: 0px) and (max-width : 767px){
	
}

/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){

}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 900px){


}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
