// ==========================================================================
/******** MENU ********/
// ==========================================================================

.menu
	border-radius 0
	position fixed 
	width 100%
	z-index 5
	top 0
	
	.dropdown:hover, .dropdown:focus
		.dropdown-menu
			display block !important
			
	.dropdown-menu
		margin-top 0px
		
	.btn-primary
		background-color #4444
		color $naranja
		border-color #4444
		height 50px
		margin 0
		
		i
			color $naranja
			
	.btn-primary:hover, .btn-primary:focus, .open>.dropdown-toggle.btn-primary
		color #fff
		background-color #4444
	
	
	.navbar-brand
		padding 10px
		
		.logo
			width 200px
	ul
		.active
			a
				background-color #444444 !important
				color #fff  !important
				
				.icon-menu
					color $naranja !important
				
		li
			.icon-menu
				margin-right 5px
				
			.logout
				margin-right 10px
				
			a
				color #fff !important
			
			a:hover, a:focus
				background-color #444444 !important
				color #fff  !important
				
				.icon-menu
					color $naranja !important
				
	.dropdown-menu
		background-color #101010
		text-align right
		min-width: 100px
		
		li
				
			a
				color #fff !important
			
			a:hover, a:focus
				background-color #101010 !important
				color $naranja  !important

// ==========================================================================
/* RESPONSIVE - LAYOUT */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){
	
}

/**  MOBILE DISPOSITIVO **/
@media device and (min-width: 0px) and (max-width : 767px){
	
}

/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){
	
}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 700px) and (max-width : 900px){
	
}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}


@media (min-width: 992px ) {

}