// ==========================================================================
/******** FORMS ********/
// ==========================================================================

			
.login
	background-image url('../images/background-login.jpg')
	background-size  cover
	background-position center center
	background-repeat no-repeat
	width 100%
	height 100%
	min-height 100vh
	float left
	
	.form-admin
		background-color rgba(255,141,24,.8)
		padding 20px
		text-align center
		width 300px
		display table
		margin 0 auto
		margin-top 40px
		position fixed
		top 50%
		left 50%
		margin-left -150px
		margin-top -150px
		border-radius 10px
		
		hr
			border-top 1px #fff dashed
			float left
			
		
		.icon
			font-size 60px
			color #fff
			
		form
			margin-top 30px
			
			label
				color #fff
			
			.btn
				background-color #fff
				width 70%
				margin 0 auto
				font-weight bold
		
textarea
	min-height 200px

.imagen-post
	width 200px
	margin-bottom 10px
	height 150px
	-webkit-background-size cover
	-moz-background-size cover
	background-size cover
	background-position center
	border 1px solid rgba(134,134,134,0.3)

// ==========================================================================
/* RESPONSIVE - LAYOUT */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){
	
}

/**  MOBILE DISPOSITIVO **/
@media device and (min-width: 0px) and (max-width : 767px){
	
}

/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){
	
}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 700px) and (max-width : 900px){
	
}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}

@media (min-width: 992px ) {
   
}