// ==========================================================================
/******** HOME ********/
// ==========================================================================
.contenido
//estilos en layout
	
	.bloque-home
		width 100%
		float left
		margin-bottom 30px
		
.header
	height 100px
	background-color #d1d1d1
	
	h1
		text-align center
		margin-top 30px
.navbar
	min-height 30px !important
	height 42px !important
	
.form-admin
	width 300px
	display table
	margin 0 auto
	margin-top 40px
	
// ==========================================================================
/* RESPONSIVE - HOME */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){
	
}

/**  MOBILE DISPOSITIVO **/
@media device and (min-width: 0px) and (max-width : 767px){
	
}

/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){

}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 771px) and (max-width : 900px){


}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
