// ==========================================================================
/******** LAYOUT ********/
// ==========================================================================

//CONTENIDO - SIDEBAR----------------------------
.contenedor
	float left
	width 80%
	margin 0 10%
	
	.contenido
		float left
		
	
	.title-page
		color: #fff
		background-color #444444
		border-color #666
		padding: 20px 15px
		border-radius 4px
		margin-bottom 5px
		
		h3
			.icon-title
				color #fff
				margin-right 15px
				background-color $naranja
				border-radius 100%
				padding 10px
				height 40px
				width 40px
				font-size 20px	
				
	.padding-block
		padding 20px !important
	
	.btn-naranja
		background-color $naranja
		color #fff
		font-weight bold
		border-color $naranja
		height 40px
		
		i
			color #fff !important
			
	.btn-rojo
		background-color red
		color #fff
		font-weight bold
		border-color $naranja
		height 40px
		
		i
			color #fff !important


.menu
	.btn-primary
		margin-top 7px

//FOOTER----------------------------
.footer
	background-color #222
	position absolute
	bottom 0
	width 100%
	
	.copyright
		background-color gris10
		padding 5px 0
		
		.contenido
			display block
			margin 0 auto
			float none
			padding 5px 30px
			
			p
				font-size 10px
				color gris3
			
			.email
				float right
				text-align right
				font-size 10px
				color gris3
				
				p
					float right
			
				.glyphicon
					padding 2px 5px 0 0
					float right
					
					


// ==========================================================================
/* RESPONSIVE - LAYOUT */
// ==========================================================================

/*mobile--------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width : 767px){
	.contenedor {
	    width: 94%;
	    margin: 0 3%;
	    padding: 0px;
	}

	.contenedor .contenido {
	    padding: 15px 0px 15px 0px !important;
	}

	.head .menu .contenedor {
	  width: 100%;
	  margin: 0;
	}
	
	.contenedor .sidebar {
	    padding-top: 0;
	}
	
	.bloque-novedades .bloque-b {
	    padding-left: 0 !important;
	    padding-top: 30px !important;
	}
	
	.bloque-novedades .bloque-a {
	    padding-right: 0px !important;
	    border-right: none !important;
	}
	
	.bloque-posteos-relacionados .posteos .item {
	    padding: 0px 0px 25px 0px!important;
	}
	
	.head .menu .contenedor .buscar {
	  width: 60%;
	  position: absolute;
	  top: 0;
	  right: 10px;
	}
	
	.head .menu .contenedor .navbar-collapse {
	  width: 100%;
	}

	//footer
	.footer .copyright .contenido .email p {
	  width: 70%;
	  text-align: left;
	}
	
	.footer .copyright .contenido .email .glyphicon {
	  width: 30%;
	  text-align: right;
	}
	
	.footer .copyright .contenido .email {
	  padding-bottom: 10px;
	}
	
	.footer .clientes .carousel .row .span3 {
	  width: 100%;
	}
	
	.titulo-multiple h3 {
	    height: 25px !important;
	    font-size: 12px !important;
	}
}

/**  MOBILE DISPOSITIVO **/
@media device and (min-width: 0px) and (max-width : 767px){
	
}

/*tablet----------------------------------------*/
@media screen and (min-width: 768px) and (max-width : 1280px){
	.head .menu .contenedor {
	  width: 90%;
	  margin: 0 5%;
	}
	
	.contenedor {
	    width: 90%;
	    margin: 0 5%;
	    padding: 0px;
	}
}

/**  TABLETS LANDSCAPE **/
@media screen and (min-width: 700px) and (max-width : 900px){
	.head .menu .contenedor {
	  width: 100%;
	  margin: 0%;
	}
	
	.contenedor {
	    width: 94%;
	    margin: 0 3%;
	    padding: 0px;
	}
	

	.contenedor .contenido {
	    padding: 15px 0px 15px 0px !important;
	    width: 100%;
	}

	//head
	
	.head .menu .contenedor {
	  width: 100%;
	  margin: 0;
	}
	
	.contenedor .sidebar {
	    padding-top: 0;
	    width: 100%;
	}
	
	.head .menu .contenedor .buscar {
	  width: 20%;
	  position: absolute;
	  top: 0;
	  right: 10px;
	}
	
	.head .menu .contenedor .navbar-collapse {
	  width: 100%;
	}

	//footer
	.footer .copyright .contenido .email p {
	  width: 70%;
	  text-align: left;
	}
	
	.footer .copyright .contenido .email .glyphicon {
	  width: 30%;
	  text-align: right;
	}
	
	.footer .copyright .contenido .email {
	  padding-bottom: 10px;
	}
	
	.footer .clientes .carousel .row .span3 {
	  width: 100%;
	}
}

/*notbook------------------------------------*/
@media screen and (min-width: 1280px) and (max-width : 1800px){
	
}

/*desktop------------------------------*/
@media screen and (min-width: 1801px) and (max-width : 2200px){

}

/*desktop large-----------------------------------------------*/
@media screen and (min-width: 2220px) and (max-width : 4000px){

}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

@media (min-width: 992px ) {
    .carousel-inner .active.left { left: -16.7%; }
    .carousel-inner .next        { left:  16.7%; }
    .carousel-inner .prev        { left: -16.7%; }  
}